@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
    font-family: "PT Serif", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.toast-header {
    justify-content: space-between;
}